@{
  Layout="Shared/_Layout.cshtml";
}
@if (@Model.GetWordCount() == 1)
{
  <p>
    <span>@Model.GetUserWord()</span> appears <span>@Model.GetWordCount()</span> time in "<span>@Model.GetUserSentence()</span>".
  </p>

}
else
{
  <p>
    <span>@Model.GetUserWord()</span> appears <span>@Model.GetWordCount()</span> times in "<span>@Model.GetUserSentence()</span>".
  </p>
}


<br><p><a href="/">Return Home</a></p>
